.bg5 {
  background: url("/src/assets/bgtour.svg");
  background-repeat: repeat;
  background-size: 100% 100%;
  padding-top: 5rem;
}
.tourBlock_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 4rem;
}
.tourText_block {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.tourText_bigger {
  font-size: 3.9rem;
}
.tourText_big {
  letter-spacing: 8px;
}
.tourText_small {
  margin: 4rem 0 2rem;
  font-family: "Russo One", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
}
.mapcon {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.mapImg {
  border-radius: 20px;
  width: 90%;
  height: auto;
  display: block;
}

.tourBlock_img {
  margin-bottom: 4rem;
}
.mySwiper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guestBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: auto;
  height: auto;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  position: relative;
}
.guestBlock > p {
  width: 99%;
  height: 90%;
  display: flex;
  align-items: end;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 100%
  );
  font-family: "Russo One", sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0.8rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto !important;
}

.guestBlock img {
  display: block;
  width: auto !important;
  height: auto !important;
  object-fit: cover;
  border-radius: 15px !important;
  margin: 1rem;
}

@media screen and (max-width: 425px) {
  .bg5 {
    padding: 0;
  }
}
